@model SurveyDTO
@{
    ViewData["Title"] = "Publish Survey";
}
<h2>@ViewData["Title"]</h2>

<h3 class="alert-danger">Are you sure that you want to publish this survey?</h3>

@Html.Partial("~/Views/Shared/_ValidationPartial")

<form asp-action="Publish" method="POST" asp-route-id="@Model.Id">
    @Html.Partial("~/Views/Shared/_ConfirmPartial")
</form>

@Html.Partial("~/Views/Shared/_SurveyDetailPartial", Model)
