@model SurveyDTO
@{
    ViewData["Title"] = "Update Survey Title";
}
<h2>@ViewData["Title"]</h2>

@Html.Partial("~/Views/Shared/_ValidationPartial")

<form asp-action="EditTitle" method="post" asp-route-id="@Model.Id" class="form-horizontal" role="form">
    <div class="form-group">
        <input asp-for="Id" type="hidden" />
        <input asp-for="ExistingTitle" type="hidden" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-md-1 control-label">From:</label>
            <div class="col-md-11">
                <textarea rows="5" readonly>@Model.ExistingTitle</textarea>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">To:</label>
            <div class="col-md-11">
                <textarea asp-for="Title" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_ConfirmPartial")
</form>
