@model ContributorsDTO

@{
    ViewData["Title"] = "Survey Contributors";
}
<h2>@ViewData["Title"]</h2>


<h2>Confirmed</h2>
<ul class="list-group">
    @foreach (var contributor in Model.Contributors)
    {
        <li class="list-group-item">@contributor.Email</li>
    }
</ul>

<h2>Requested</h2>
<ul class="list-group">
    @foreach (var request in Model.Requests)
    {
        <li class="list-group-item">@request.EmailAddress</li>
    }
</ul>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        <p>@ViewBag.Message</p>
    </div>
}

<div class="row pull-right">
    <a asp-action="RequestContributor" asp-route-id="@Model.SurveyId" class="btn btn-default">Add Contributors</a>
    <a onclick="window.history.back()" class="btn btn-default">Back</a>
</div>

